docling
fastapi>=0.116.1
fastembed>=0.7.1
pydantic>=2.11.7
pydantic-ai-slim[openai,logfire]
qdrant-client>=1.14.3
uvicorn>=0.35.0
ddgs>=9.4.3
crawl4ai>=0.7.2
httpx>=0.28.1
python-keycloak>=5.7.0
python-jose[cryptography]>=3.5.0
python-multipart>=0.0.20
motor>=3.7.1
pymongo>=4.13.2
PyJWT>=2.10.1